<html>
	
	<head>
		<link rel="stylessheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylessheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylessheet" href="/stylesheets/style.css">

		 <script src="/lib/jquery/dist/jquery.js"></script>
		 <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	</head>

	<body>
	<div>
		<%=title%>

		<ul>
			<li>
				<a href="/auth/google" class="googleplus">
					 <i class="fa fa-google-plus" aria-hidden="true"></i>google sign in
				</a>
			</li>
			<li>
				<a href="/auth/twitter" class="twitter">
					<i class="fa fa-twitter" aria-hidden="true"></i>Twitter sign in
				</a>
			</li>
			<li>
				<a href="/auth/facebook" class="facebook">
					<i class="fa fa-twitter" aria-hidden="true"></i>Facebook sign in
				</a>
			</li>
		</ul>
	</div>
		

		

	</body>
</html>